<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">


  <!-- ros control plugin -->
  <xacro:macro name="ros_control">
    <gazebo>
      <!-- <plugin name="ros_control" filename="libgazebo_ros_control.so"> -->
	  <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
		    <!-- <robotParam>robot_description</robotParam>
        <controlPeriod>0.001</controlPeriod>
	      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
		    <legacyModeNS>true</legacyModeNS>  -->
      </plugin>
    </gazebo>
	</xacro:macro>

	<!-- skid steering plugin -->
	<xacro:macro name="skid_steering" params="prefix publish_tf">
    <gazebo>
	  <plugin filename="ignition-gazebo-diff-drive-system" name="ignition::gazebo::systems::DiffDrive">
		    <odom_publish_frequency>50.0</odom_publish_frequency>
		    <left_joint>${prefix}front_left_wheel_joint</left_joint>
		    <right_joint>${prefix}front_right_wheel_joint</right_joint>
		    <left_joint>${prefix}back_left_wheel_joint</left_joint>
		    <right_joint>${prefix}back_right_wheel_joint</right_joint>
		    <!-- wheel_separation>0.566</wheel_separation --> <!-- real parameter value -->
		    <wheel_separation>0.462</wheel_separation> <!-- works a bit better in Gazebo -->
		    <wheel_radius>0.11</wheel_radius>
		    <child_frame_id>${prefix}base_footprint</child_frame_id>
			<topic>/robotnik_base_control/cmd_vel</topic>
         	<odom_topic>/robotnik_base_control/odom</odom_topic>
		    <frame_id>${prefix}odom</frame_id>
      </plugin>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="omni_steering" params="namespace publish_tf">
		<gazebo>
		<plugin name='ignition-gazebo-mecanum-drive-system' filename="ignition::gazebo::systems::MecanumDrive">
		<topic>/robotnik_base_control/cmd_vel</topic>
        <odom_topic>/robotnik_base_control/odom</odom_topic>
		<publish_odom_tf>${publish_tf}</publish_odom_tf>
        <frame_id>odom</frame_id> <!-- TOF: was ${namespace}/odom -->
        <child_frame_id>base_footprint</child_frame_id> <!-- TOF: was ${namespace}/base_footprint-->
      </plugin>
	  </gazebo>	
  </xacro:macro>

  <xacro:macro name="ros_force_based_move" params="publish_tf prefix">
	  <gazebo>
		 <plugin name="ros_force_based_move" filename="librobotnik_force_based_move.so">
			 <commandTopic>robotnik_base_control/cmd_vel</commandTopic>
			 <odometryTopic>robotnik_base_control/odom</odometryTopic>
	         <odometryFrame>${prefix}odom</odometryFrame>
			 <yaw_velocity_p_gain>10000.0</yaw_velocity_p_gain>
			 <x_velocity_p_gain>10000.0</x_velocity_p_gain>
			 <y_velocity_p_gain>10000.0</y_velocity_p_gain>
			 <robotBaseFrame>${prefix}base_footprint</robotBaseFrame>
			 <commandWatchdog>1</commandWatchdog>
			 <odometryRate>50.0</odometryRate>
			 <publishOdometryTf>${publish_tf}</publishOdometryTf>
		 </plugin>
	  </gazebo>
  </xacro:macro>

  <gazebo reference="base_footprint">
    <material>Gazebo/Green</material>
  </gazebo>


</robot>
